<nav class="navbar navbar-expand-md">
  <div class="container-fluid col-md-10 offset-md-1">
    <a class="navbar-brand" routerLink="home"
      ><img
        src="../../assets/img/logo.jpg"
        alt="navbar-brand-img"
        class="navbar-brand-img"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleCollapsed()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="justify-content-end"
      id="navbarSupportedContent"
      [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active"
            >Resume</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="project" routerLinkActive="active"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
