.about-header {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: -1rem;
  animation: zero-to-one var(--animation-time-header) linear forwards;
  scale: 0;
}
.qualification {
  margin-top: 2%;
  font-size: 1.1rem;
  line-height: 0.1rem;
  color: var(--green-color);
  word-spacing: 0.2rem;
  letter-spacing: 1px;
}

.journey {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.education-header,
.experience-header,
.skill-header {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.education,
.experience {
  margin-bottom: 2.5rem;
}

.degree,
.post {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--green-color);
  /* letter-spacing: 0.5px; */
}

.college,
.company {
  font-size: 1rem;
  letter-spacing: 1px;
}

.year {
  font-size: 0.9rem;
  /* color: var(--green-color); */
  letter-spacing: 1px;
}

.fa-calendar-days {
  color: var(--green-color);
  font-size: 1.1rem;
}

@media only screen and (max-width: 750px) {
  .about-header {
    margin-top: 2rem;
  }
  .fa-star {
    display: none;
  }
  .right-column {
    margin-bottom: 10rem;
    /* padding-right: 5rem; */
  }
  .qualification {
    display: none;
  }
  .skills {
    width: 30vw;
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  font-size: 16px;
  letter-spacing: 1.2px;
}
.skill {
  font-weight: 400;
  color: white;
  border: 2px solid var(--green-color);
  /* height: 3rem; */
  /* width: m8remax-content; */
  text-align: center;
  padding: 0.5em;
  border-radius: 10px;
}

.row {
  opacity: 0;
  transform: translateY(15%);
  animation: swing var(--animation-time-columns) var(--animation-delay-columns)
    linear forwards;
}
@keyframes swing {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(10%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zero-to-one {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

* {
  --animation-time-header: 500ms;
  --animation-time-columns: 500ms;
  --animation-delay-columns: calc(var(--animation-time-header) + 100ms);
}
.container {
  overflow: hidden;
  margin-top: 2%;
}
