/* .left-column {
} */

/* .right-column {
  background-color: blue;
} */

.contact-header {
  font-size: 2.3rem;
  color: var(--green-color);
  margin-top: -2%;
  margin-left: 8%;
  margin-bottom: 6%;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.form-group {
  margin-bottom: 3%;
}

label {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.form-control {
  margin: 7px 0px;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 10px 12px;
}

.custom-button {
  width: max-content;
  padding: 0 1.7rem;
  height: 3.2rem;
  border-radius: 30px;
  background-color: var(--green-color);
  font-size: 1.1rem;
  transition: scale 0.2s linear;
}

.error-msg {
  color: red;
  font-size: 0.9rem;
}

.help-msg {
  color: var(--green-color);
  font-size: 0.9rem;
}

.sent {
  width: 25rem;
  padding: 1rem 1rem;
  border: 1px solid var(--green-color);
  position: relative;
  display: flex;
  margin-top: 3%;
  border-radius: 20px;
}

.sent-message {
  color: var(--green-color);
  /* position: absolute;
  left: 0; */
}
.cross {
  position: absolute;
  right: 20px;
}
.cross-button {
  background: transparent;
  border: none;
  color: var(--green-color);
  font-weight: 700;
}

.details-header {
  font-size: 2.3rem;
  color: var(--green-color);
  margin-top: -5%;
  /* margin-left: 5%; */
  margin-bottom: 15%;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.links {
  margin-left: 5%;
}

.location,
.email {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 3rem;
}
.icon {
  /* width: 9em;
  height: 2.5em; */
  /* border-radius: 30px; */
  /* font-size: 1.1rem; */
  /* background-color: var(--green-color); */
  position: relative;
  transition: scale 0.15s linear;
  border: none;
}
.icon:hover {
  scale: 1.1;
}

.resume {
  margin-top: 1.5rem;
  border-radius: 15%;
  /* right: 30%; */
}
