/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}
* {
  color: white;
}
:root {
  --green-color: rgb(12, 173, 12);
}
